* {
   margin: 0; /*Margin son las márgenes de la pag */
   padding: 0; /*Padding es el espacio de relleno pero dentro de un elemento: entre el contenido y el borde*/
   box-sizing: border-box; /*Es un calculo del tamaño total del elemento */
   font-family: sans-serif, system-ui; 
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    min-height: 100dvh;
}

.header {
    background-color: pink;
    display: flex; /*Display define como se muestra un elemento, al ponerlo en flex estamos diciendo que hay que distribuir los elementos de forma que se "estiren" (flex) de la forma más organizada según el tamaño de la pantalla donde se vea. */
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.languages {
    display: flex;
    gap: .5rem;
}

.lang-button {
    background-color: transparent;
    font-size: 1.25rem;
    border: 0;
    cursor: pointer;
}

.section {
    padding-inline: 2rem;
    margin-top: 2rem;
}

.footer {
    background-color: pink;
    padding: 1rem 2rem;
    margin-top: 2rem;
}